* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    width: 50%;
    margin: 2rem auto;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 10px;
    background-color: bisque;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.493);
}
h2 {
    text-align: center;
    margin-bottom: .5rem;
}
section:first-child p {
    margin-bottom: 1rem;
}
input {
    padding: .2rem
}
input[type=text] {
    padding-left: 10px;
}
input[type=submit] {
    width: 150px;
}
input[type=submit]:hover{
    background-color: green;
    color: white;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}
#resposta {
    padding: 1rem;
    text-align: center;
    font-size: 3rem;
}